#testimonials{
    height: 100vh;
    background-color: ghostwhite;
    background-color: rgb(251, 213, 213);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials-title{
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    font-family: "Roboto";
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 1rem;
}
.testimonials-wrapper{
    display: flex;
    height: 80%;
    width: 90%;
    background-color: ghostwhite;
    background-color: rgb(251, 213, 213);    

    border-radius: 30px;
    /* box-shadow: 0 0 20px 5px rgba(11, 11, 11, 0.5); */
    align-items: center;
    /* justify-content: space-around; */
    /* padding-left: 100px  ; */
    overflow-x:scroll;
    overflow-y: hidden;
    /* flex-wrap: wrap; */
}
.testimonials-wrapper::-webkit-scrollbar{
    display: none;
}
.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 28%;
    height: 85%;
    padding: 0px 30px;
    border-radius: 20px;
    /* background-color: purple; */
    background-color: rgb(243, 243, 243);
    margin-right: 40px;
}
@media screen {
    
}
.testimony:first-child{
    margin-left: 40px;
}
.quote-icon{
    height: 10%;
    padding: 20px;
    color: rgb(194, 191, 191);

}

.testimony-description{
    height: 65%;
    line-height: 26px;
    word-spacing: 3px;
    padding: 20px;
}
.testimony-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15%;
    /* background-color: antiquewhite; */
    padding: 20px;
}
.bold{
    font-weight: 700;
}
.quote-icon>svg{
    transition: 0.3s all ease-in;
    animation: coolanimation 0.7s infinite ease-in alternate;
}
@keyframes coolanimation {
    to{
        transform: translate(-5px,-4px);
    }
}